<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/header.ejs'); %>

    <title>Économie - <%=bot.username%></title>
</head>

<body>
<!-- Notifications Start -->
<%- include('partials/notifications/notifications.ejs') %>
<!-- Notifications End -->

<%- include('partials/components/navbar.ejs'); %>

<div id="wrapper">
    <%- include('partials/components/zoneLeft.ejs'); %>

    <%- include('partials/components/zoneProfileCategories.ejs'); %>

    <div id="right-zone">
        <div class="title-container">
            <span class="title-text">Économie</span>
        </div>

        <div id="content-container">
            <div class="box">
                <div class="input-inner">
                    <label class="input-title">Nom de la monnaie :</label>
                    <form id="form-economy" method="POST">
                        <textarea rows="1" name="moneyName" id="moneyName" class="text-area text" minlength="1" maxlength="20" required><%= economy.moneyName %></textarea>
                        <button type="submit" formaction="/economy/money/save/<%= server.id %>" class="reset-button button-blurple">Sauvegarder</button>
                        <button type="submit" formaction="/economy/money/reset/<%= server.id %>" class="reset-button button-red">
                            <i class="fa-solid fa-plus"></i>
                            Réinitialiser
                        </button>
                    </form>

                    <label class="input-title">Ajout d'objets dans la boutique :</label>
                    <form action="/economy/shop/add/<%= server.id %>" method="POST">
                        <div class="level-container">
                            <div class="input-level">
                                <label for="object-name">Nom :</label>
                                <input class="text-area text" type="text" id="object-name" name="name" required>
                            </div>

                            <div id="money-option" class="input-level">
                                <label for="amount">Montant :</label>
                                <input class="text-area number" type="number" id="amount" name="amount" min="1" required>
                            </div>

                            <button type="submit" class="save-button button-blurple">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="box">
                <div class="input-inner">
                    <form id="form-messages" action="/economy/daily/save/<%= server.id %>" method="POST">
                        <div class="switch-container">
                            <label class="input-title">Récompenses quotidiennes :</label>
                            <% if (economy.daily.status) {%>
                                <label class="switch">
                                    <input type="checkbox" name="enable" checked>
                                    <span class="slider"></span>
                                </label>
                            <% } else {%>
                                <label class="switch">
                                    <input type="checkbox" name="enable">
                                    <span class="slider"></span>
                                </label>
                            <% } %>
                        </div>

                        <div id="money-option" class="input-level">
                            <label for="daily-amount">Montant :</label>
                            <% if (economy.daily.amount) {%>
                                <input class="text-area number" value="<%= economy.daily.amount %>" type="number" id="daily-amount" name="amount" min="1">
                            <% } else {%>
                                <input class="text-area number" type="number" id="daily-amount" name="amount" min="1">
                            <% }%>
                        </div>

                        <label>Type de récompense :</label>
                        <select class="levels-select" id="type" name="type">
                            <% if (economy.daily.type === "fix") {%>
                                <option value="fix" selected>Fixe</option>
                                <option value="random">Aléatoire</option>
                            <% } else {%>
                                    <option value="fix">Fixe</option>
                                    <option value="random" selected>Aléatoire</option>
                            <% }%>
                        </select>

                        <button type="submit" class="save-button button-blurple">Sauvegarder</button>
                    </form>
                </div>
            </div>

            <div class="box">
                <div class="rewards-inner">
                    <label class="input-title">Liste des objets de la boutique :</label>
                    <div class="rewards-list">
                        <ul>
                            <% economy.shop.forEach(object => { %>
                                <li class="reward-item">
                                    <strong><%= object.object_name %> :</strong>
                                    <span>💰 <%= object.object_price %></span>
                                    <button class="remove-role-btn" onclick="removeObject('<%= server.id %>', '<%= object.id %>')">❌</button>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    const openMenu = document.getElementById('leftZoneButton');
    const profileZone = document.getElementById('profile-zone');

    openMenu.addEventListener('click', () => {
        profileZone.classList.toggle('desktop-only');
    });
</script>
<script>
    async function removeObject(guildId, id) {
        try {
            const response = await fetch(`/economy/shop/delete/${guildId}/${id}`, {
                method: 'POST'
            });

            const data = await response.json();

            if (!response.ok) {
                if (data.alert) {
                    return Swal.fire({
                        title: data.alert.title,
                        text: data.alert.text,
                        icon: data.alert.icon,
                        theme: "auto",
                        confirmButtonColor: "#00a7b3",
                        color: '#ffffff'
                    });
                }
            }
            else {
                location.reload();
            }
        }
        catch(error) {
            console.error("Erreur lors de la requête AJAX:", error);
            Swal.fire({
                title: "Erreur",
                text: "Une erreur est survenue lors de la requête.",
                icon: "error",
                theme: "auto",
                confirmButtonColor: "#00a7b3",
                color: '#ffffff'
            });
        }
    }
</script>
</html>